// Theme fonts
$Helvetica-Neue-Regular: "Helvetica-Neue-Regular";
$Helvetica-Neue-Light: "Helvetica-Neue-Light";
$Helvetica-Neue-Medium: "Helvetica-Neue-Medium";
$Helvetica-Neue-Bold: "Helvetica-Neue-Bold";
$Helvetica-Neue-Condensed: "Helvetica-Neue-Condensed";
$Helvetica-Neue-Light-Condensed: "Helvetica-Neue-Light-Condensed";

// Theme colors
$primaryColor: rgb(0, 86, 147);
$primaryFontColor: $primaryColor;
$secondaryFontColor: rgb(88, 89, 91);
$tertiaryFontColor: white;
$buttonFontColor: $primaryColor;
$buttonBackgroundColor: rgb(230, 231, 232);
$buttonBackgroundColorDisable: rgb(201, 203, 205);
